<table>
  <tr>
    <td valign="top">
      <h1>
        Welcome Kristen to your iPhone administration site!
      </h1>

      <p>

      <h3>Please select one of the links below to manage content for your iPhone application</h3>
      <ul>
        <li> <%= link_to 'Books', books_path %> </li>  <p></p>
        <li> <%= link_to 'Videos', videos_path %>    </li> <p></p>
        <li> <%= link_to 'Blogs', blogs_path %>            </li> <p></p>
        <li> <%= link_to 'Applications', applications_path %>    </li>
      </ul>

    </td>
    <td>
      <img src="/images/kristen-nicole.png" alt="Kristen's profile image"/>
    </td>

  </tr>
</table>